li {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #334155;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.fa-trash-can {
    color: #F1596A;
    margin: 15px;
}